<label>Search names</label>
<input type="text"
       placeholder="search name"
       aria-label="Number"
       matInput
       [formControl]="stateCtrl"
       [matAutocomplete]="auto"
       #autoCompleteInput
       >
     
<mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let option of filteredStates | async"  [value]="option">
      {{option}}
    </mat-option>
</mat-autocomplete>
<button (click)="close()">Close</button> <br/><br/>
<button (click)="open($event)">Open</button>